.container {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 110px - 50px);
    width: 100%;
    position: relative;
  }


.min-height {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 60px; 
  }

.start {
    justify-content: flex-start;
}